  :root {
  --surface-color: #fff;
  --curve: 40;
  }




/*------------ event -------------------*/
.event-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}
.event-card-solo {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}
.event-card-solo:hover .event-card-overlay {
  transform: translateY(0);
}
.event-card-solo:hover .event-card-header {
  transform: translateY(0);
}
.event-card-image-solo {      
  width: 100%;
  height: auto;
}
.event-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}
.event-card-header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}
.event-card-arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}
.event-card-arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
} 
.event-card-title-solo {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}
.event-card-description-solo {
  padding: 0 2em 2em;
  margin: 0;
  color: #000000;
     
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  overflow: hidden;
}    
/*------------/ event -------------------*/

/* --------- counter ---------------------------------*/

.counter-bar {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 75px;
  padding: 1px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.counter {
  background-color: rgb(228 228 228 / 15%);
  border-bottom: 2px solid rgba(225, 225, 225, 0.3);
  border-left: 2px solid rgba(225, 225, 225, 0.1);
  border-right: 1px solid rgba(225, 225, 225, 0.2);

  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
  border-radius: 25px;
}

.counter:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* --------- /counter ---------------------------------*/

/* --------- inovation---------------------------------*/
.u-clearfix1:before,
.u-clearfix1:after {
  content: " ";
  display: table;
}
.u-clearfix1:after {
  clear: both;
}


.inovation-card-main{
  background-color: rgb(228 228 228 / 15%);
  border-bottom: 2px solid rgba(225, 225, 225, 0.3);
  border-left: 2px solid rgba(225, 225, 225, 0.1);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  padding: 2%;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
  border-radius: 25px;
}
.inovation-inner-card-text {
  display: inline-block;
  text-align: justify;
  text-justify: inter-word;
  float: left;
  width: 50%;
}

.inovation-card-main:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.inovation-card-title {
color: #fdfdfd;
font-size: 60px;
font-weight: 300;
line-height: 60px;
margin: 10px 0;
}
.inovation-inner-card-description {
  display: inline-block;
  color: #fff;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}
.inovation-card-slideshow {
  float: right;
  border-radius: 25px;
}




/* --------- /inovation---------------------------------*/