:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;

  margin:100px;
  background-image: url('images/bg.jpg');
}


/*------------ event -------------------*/
.event-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}
.event-card-solo {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}
.event-card-solo:hover .event-card-overlay {
  transform: translateY(0);
}
.event-card-solo:hover .event-card-header {
  transform: translateY(0);
}
.event-card-image-solo {      
  width: 100%;
  height: auto;
}
.event-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}
.event-card-header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}
.event-card-arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}
.event-card-arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
} 
.event-card-title-solo {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}
.event-card-description-solo {
  padding: 0 2em 2em;
  margin: 0;
  color: #000000;
     
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  overflow: hidden;
}    
/*------------/ event -------------------*/


















      








